
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <i class="social-icon fab fa-facebook-f"></i>
    <i class="social-icon fab fa-twitter"></i>
    <i class="social-icon fab fa-instagram"></i>
    <i class="social-icon fas fa-envelope"></i>
    <p>Copyright @2021-2022</p>
  </div>
</div>
</body>
</html>
